.skills-content {
    margin-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-header {
    display: block;
    position: relative;
    left: 27vw;
    top: 40px;
    font-size: 32px
}

.skills-container {
    margin-top: 45px;
    margin-bottom: 200px;
    display: flex;
    width: 75vw;
    justify-content: flex-end;
    align-items: flex-start;
}

.skills-container h3 {
    font-size: 20px;
    font-weight: 400;
}

.skill {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.list li {
    font-size: 16px;
    padding: 1px 0px;
    font-weight: 200;
    list-style-type: lower-latin;
    list-style-position: outside;
}

@media only screen and (max-width: 480px) {

    .skills-content {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .skills-container {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .skills-header {
        position: inherit;
        margin-top: 65px;
        text-align: center;
    }

}